<%- include("../partials/header.ejs")%>

        <div class ="content">
            <h2>UPDATE EVENT DETAILS</h2>
            <br>
            <form method = "POST" action = "/events/<%= event.id%>?_method=PUT">
                <table>
                    <tr>
                        <td><label for="category">Event Topic</label></td>
                        <td><input type="text" id="category" name="category" value= "<%= event.category%>" class = "fixed-width" required></td>
                    </tr>
                    <tr>
                        <td><label for="event_title">Event Title</label></td>
                        <td><input type="text" id="event_title" name="event_title" value="<%= event.event_title%>" class = "fixed-width" required></td>
                    </tr>
                    <tr>
                        <td><label for="Date">Date</label></td>
                        <td><input type="date" id="Date" name="Date" value="<%= event.Date%>" required ></td>
                    </tr>
                    <tr>
                        <td><label for="start_time">Start Time</label></td>
                        <td><input type="time" id="start_time" name="start_time" value="<%= event.start_time%>" required></td>
                    </tr>
                    <tr>
                        <td><label for="end_time">End Time</label></td>
                        <td><input type="time" id="end_time" name="end_time" value="<%= event.end_time%>" required></td>
                    </tr>
                    <tr>
                        <td><label for="location">Location</label></td>
                        <td><input type="text" id="location" name="location" value="<%= event.location%>" class = "fixed-width" required ></td>
                    </tr>
                    <tr>
                        <td><label for="image">Event Image</label></td>
                        <td><input type="text" name="image" id="image" value="<%= event.image%>" class = "fixed-width" required></td>
                    </tr>
                    <tr>
                        <td><label for="Description">Description</label></td>
                        <td><textarea name="Description" id="Description" rows="10" cols="70" required minlength="10"><%= event.Description%></textarea></td>
                    </tr>
                    <tr>
                        <td><input type = "submit" value ="UPDATE EVENT" id ="submit"></td>
                    </tr>
                </table>          
            </form>       
        </div>

<%- include("../partials/footer.ejs")%>










